[submodule "themes/minimo"]
	path = themes/minimo
	url = https://github.com/MunifTanjim/minimo
[submodule "public"]
	path = public
	url = git@github.com:hntan/hntan.github.io.git
	branch = master
[submodule "themes/hugo-sustain"]
	path = themes/hugo-sustain
	url = git@github.com:nurlansu/hugo-sustain.git
